/* COMBINATORS */

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Descendent Selector */

.kutu p{
    color: red;
}

.kutu > p{
    color: lightgreen;
}